{% extends "./index.html" %}

{% block title %}<title>Login de usuarios</title>{% endblock %} 
{% load crispy_forms_tags %} 
{% block content %}

    <div class="row text center">
        <div class="col-sm-12 p-3 border" style="background-color: #ebebfa">
            <h3>Inicio de sesión de usuarios</h3>
            <br> 
            <div class="col-sm-6 p-3 border" style="background-color: #ebebfa">
                <form method="post"> 
                    {% csrf_token %} 

                    {{login_form|crispy}} 

                <input class="btn btn-primary" type="submit" value="Iniciar sesión" /> 
                </form> 
                <p class="text-center">No tienes una cuenta, regístrate? <a href="/register_user">Crear una cuenta</a>.</p>
            </div>
    {% block additionaljs %}
            {% if messages %}
            <script>
                {% for message in messages %}
                    {% if message.error %} class="{{ message.error}}"{% endif %}
                        Swal.fire({
                            title: 'Error',
                            text: '{{message}} ',
                            icon: 'error'
                        });
                {% endfor %}
            </script>   
            {% endif %} 
    {% endblock %}     
        </div>
    </div>
{% endblock %}